{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<section class="contenedor">
  <header>Inicio de Sesión</header>
    <form method="post" class="formulario">
      {% csrf_token %}
      <div class="entrada">
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="entrada">
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" class="mt-3">Iniciar Sesión</button>
    </form>
    <button type="button" class="outlined-button mt-3">Acceso como invitado</button>
    <p class="m-0 mt-3 text-muted">Al acceder como invitado, aceptas nuestra <a href="#">política de privacidad</a></p>
</section>
 
{% endblock %}
