{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<body>
    <div class="page-header">
        <div class="col col-md-12 ">
                       <div class="row h-100" >
                            <div class="col col-md-7  " >
                                <div class="row">
        <h1 style="margin-left: 20px;">{{ accommodation.name }}</h1>
        <h3 style="margin-left: 20px;">{{ accommodation.address.city }}, {{ accommodation.address.country }}</h3>
        <!-- Puedes añadir más información aquí si es necesario -->
        </div>
                            </div>
                            <div class="col col-md-1 d-flex justify-content-center align-items-center " >
                                <p> {{reservas}}</p>
                                <span class="material-symbols-outlined ">
                                    done
                                    </span>

                            </div>
                            <div class="col col-md-1 d-flex justify-content-center align-items-center" >
                                <a href="#"> {{claim}}
                                <span class="material-symbols-outlined ">
                                    close
                                    </span>
                                </a>
                            </div>

                            <div class="col col-md-1 d-flex justify-content-center align-items-center" >
                                <a href="#"> {{rating}}
                                <span class="material-symbols-outlined star-symbol">
                                    star
                                </span>
                                </a>
                            </div>
                            <div class="col col-md-1 d-flex justify-content-center align-items-center" >
                                {{numFavoritos}}
                                <span class="material-symbols-outlined favorite-symbol">
                                        favorite
                                    </span>
                            </div>
                        </div>
                    </div>
    </div>
        <!-- Arreglar rating
        <div class="rating">
            <span class="material-symbols-outlined rating-star">
                star
            </span>
            <p class="card-text">{{ accommodation.average_rating|default:"ND" }}</p>
        </div>
        -->

<!-- Carousel de fotos -->
                    <div class="col col-md-12 book-photos " >
                        <div class="row" >
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/media/{{imagenInicial.image}}" class="d-block w-100 h-100" alt="...">
                            </div>
                            {% for imagen in images%}
                            <div class="carousel-item">
                                <img src="/media/{{imagen.image}}" class="d-block w-100 h-100" alt="...">
                            </div>
                            {%endfor%}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        </div>
                    </div>
<div class="page-content" style="margin-top: 20px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-3  " >
                        <!-- Sidebar de Servicios -->
                        <div class="row justify-content-center" >
                        <div class="card" style="width: 95%;">
                            <h4 class="title-card text-center">
                                Servicios
                            </h4>
                            {% if accommodation.service.all %}
                            <div class="services">
                                {% for service in accommodation.service.all %}
                                    <p class="infomation-card-service">{{ service.name }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                            </div>
                    </div>
                </div>
                    <div class="col col-md-6 " >
                        <div class="row justify-content-center" >
                            <div class="card" style="width: 95%; max-width: 950 px;">
                                <h4 class="title-card text-center">Descripción</h4>
                                <h7 class="infomation-card">{{ accommodation.description }}</h7>

                                </div>
                        </div>
                    </div>
                    <div class="col col-md-3 " >
                        <div class="row " >
                            <div class="card" style="width: 95%;">
                                <h4 class="title-card text-center">Detalles</h4>
                                <p class="infomation-card-detalles"><b class="price"> Propietario: </b> {{ accommodation.owner }}</p>
                    <p class="infomation-card-detalles"><b class="price"> Fecha de creación: </b> {{ accommodation.creation_date }}</p>
                    <p class="infomation-card-detalles"><b class="price"> Última modificación: </b> {{ accommodation.modification_date }}</p>
                    <p class="infomation-card-detalles"><b class="price"> Precio: </b> {{ accommodation.price }}€ Noche</p>
                    <p class="infomation-card-detalles"><b class="price"> Capacidad: </b> {{ accommodation.capacity }} personas</p>
                    <p class="infomation-card-detalles"><b class="price"> País: </b> {{ accommodation.address.country }}</p>
                    <p class="infomation-card-detalles"><b class="price"> Región: </b> {{ accommodation.address.region }}</p>
                    <p class="infomation-card-detalles"><b class="price"> Ciudad: </b> {{ accommodation.address.city }}</p>
                    <p class="infomation-card-detalles"><b class="price"> Código postal: </b> {{ accommodation.address.postal_code }}</p>
                    <p class="infomation-card-detalles"><b class="price"> Calle: </b> {{ accommodation.address.address_line }}</p>
                    <p class="infomation-card-detalles"><b class="price"> Número: </b> {{ accommodation.address.street_number }}</p>

                                </div>
                        </div>
                    </div>
         </div>
    </div>
</div>
    <div class="page-content text-center" style="margin-top: 20px;">
        <a href="/booking/{{id}}" class="btn btn-reserve">RESERVAR</a>
    </div>

</div>
</body>


<script>
    window.addEventListener('scroll', function() {
        var navbar = document.querySelector('.navbar');
        if (window.scrollY > 0) {
            navbar.classList.add('shadow-navbar');
        } else {
            navbar.classList.remove('shadow-navbar');
        }
    });

document.querySelectorAll('.heart-button').forEach(function(heartIcon) {
        heartIcon.addEventListener('click', function() {
            // Aquí puedes añadir la lógica para manejar el favorito
            console.log('Alojamiento añadido a favoritos');
            this.classList.toggle('heart-button-selected');
        });
    });
</script>

{% endblock %}