{% extends 'base_generic.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="/static/css/book.css">

<div class="page-content">
    <section class="container">
        <div id="form" class="form visible">
            <h3>Formulario de respuesta a reclamaciones</h3>
        <form method="post" >
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit" class="filled-button"> Enviar respuesta reclamacion</button>
        </form>
    </div>
</section>
</div>
{% endblock %}