{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="row page-container">
  <div class="col accommodation-container">
    <div class="row" id="accommodation-row">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
              <tr class="table-secondary">
                  <th scope="col">Título</th>
                  <th scope="col">Fecha de Publicación</th>
                  <th scope="col">Alojamiento</th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              {% for claim in claims %}
                  <tr onclick="redirigir({{ claim.id }})">
                      <td>{{ claim.title }}</td>
                      <td>{{ claim.publication_date }}</td>
                      <td>{{ claim.accommodation }}</td>
                      <td>{{ claim.status }}</td>
                       {% if claim.status == 'Pendiente' %}
                          <td><a href="/claims/{{ claim.id }}/claimResponse" class="btn btn-primary">Resolver</a></td>
                      {% else %}
                          <td></td>  <!-- No mostrar el botón si el estado no es PENDING -->
                      {% endif %}

                  </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  function redirigir(url) {
       window.location.href = url
   }
</script>
{% endblock %}
