{% extends 'base_generic.html' %}

{% block content %}
{% load static %} 

<link rel="stylesheet" type="text/css" href="/static/css/book.css">

<section class="container">
    
        
        <form method="POST">
            {% csrf_token %}
            <div id="form1" class="form visible">
                <h1>Datos de la reserva</h1>
            
            
                {{form.as_p}}
            
                <div class="row-spaced">
                    <button id="return" class="filled-button mt-3">
                        Volver
                    </button>
                    <button id="next" class="filled-button mt-3">
                        Siguiente
                    </button>
                </div>

            </div>

            <div id="form2" class="form">
                    
                   {{user_form.as_p}}
                   <h1>Datos del usuario</h1>
                <div class="row-spaced">
                   <button id="back" class="filled-button mt-3">
                       Atras
                   </button>
                   <button type='submit' class="filled-button mt-3">
                       Confirmar
                   </button>
                </div>
        
            </div>
            
        </form>
    
    <div class="row">
        <div class="circulo"></div>
        <div class="circulo activo"></div>
    </div>
    

    <script> 
        document.addEventListener('DOMContentLoaded', function() {
            var form1 = document.getElementById('form1');
            var form2 = document.getElementById('form2');

            
        
            document.getElementById('return').addEventListener('click', function() {
                
                
                let urlComplete = window.location.href;

                let url = new URL(urlComplete);
                var relativeUrl = url.pathname;

                var absoluteUrl = window.location.href;
                var urlServer = absoluteUrl.replace(relativeUrl, '');

                window.location.href = urlServer;
            });

            document.getElementById('next').addEventListener('click', function() {
                form1.classList.toggle('visible');
                form2.classList.toggle('visible');
        
                // Cambiar el círculo activo
                document.querySelectorAll('.circulo').forEach(function(c) {
                    c.classList.toggle('activo');
                });
            });

            document.getElementById('back').addEventListener('click', function() {
                form1.classList.toggle('visible');
                form2.classList.toggle('visible');
        
                // Cambiar el círculo activo
                document.querySelectorAll('.circulo').forEach(function(c) {
                    c.classList.toggle('activo');
                });
            });
        });
    </script>
</section>

{% endblock %}