{% extends 'base_generic.html' %}

{% block content %}
{% load static %} 

<link rel="stylesheet" type="text/css" href="/static/css/book.css">

<section class="container">    
        <form method="POST" action="{% url 'request_booking' accommodation.id %}">
            {% csrf_token %}
            <div id="form1" class="form visible">
                <h1>Datos de la reserva para {{accommodation.name}}</h1>    
                <h2>Coste de la reserva (por día): {{accommodation.price}}€</h2>
                {{form.as_p}}
            </div>

            <div id="form2" class="form visible">
                <h1>Datos del usuario</h1>
                   {{user_form.as_p}}
                <div class="form row-spaced visible" id="divform2">
                    
                    <button id="return" class="filled-button mt-3">
                        Volver
                    </button>
                   <button type='submit' class="filled-button mt-3">
                       Confirmar
                   </button>

                </div>
            </div>
            
        </form>

    

    <script> 
        document.addEventListener('DOMContentLoaded', function() {
            var form1 = document.getElementById('form1');
            var form2 = document.getElementById('form2'); 
            var div_form1 = document.getElementById('divform1');
            var div_form2 = document.getElementById('divform2');
        
            document.getElementById('return').addEventListener('click', function() {
                
                
                let urlComplete = window.location.href;

                let url = new URL(urlComplete);
                var relativeUrl = url.pathname;

                var absoluteUrl = window.location.href;
                var urlServer = absoluteUrl.replace(relativeUrl, '');

                window.location.href = urlServer;
            });
        });
        
    </script>
</section>

{% endblock %}