/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('var.css');

.page-container {
  padding: 0 !important;
  display: flex;
  height: calc(100vh - var(--navbar-altura)) !important;
  overflow-x: hidden !important;
  width: 100vw !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.filter-form-container {
  height: calc(100vh - var(--navbar-altura)) !important;
  position: sticky !important;
  display: flex;
  overflow-y: auto !important;
  z-index: 1000;
  right: 0;
  top: 0 !important;
  width: fit-content !important;
  min-width: 50px;
  padding-left: 20px !important;
  padding-right: 0 !important;
}

.toggle-btn {
  position: absolute;
  top: 50%;
  left: 0;
  height: 40px;
  width: 40px !important; /* Anchura del botón */
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(4px);
}

.toggle-icon-reversed {
  transform: translateX(0px) !important;
}

.filter-form {
  border-left: 1px solid var(--c2) !important;
  display: none;
  padding: 25px 50px 0 50px !important;
  width: 350px !important;
  height: calc(100vh - var(--navbar-altura)) !important;
}

/* Clase para cuando el panel está expandido */
.filter-form.expanded {
  display: block;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 10px !important;
}

.input-group {
  display: flex;
}

.input-group .form-control:not(:last-child) {
  margin-right: 10px;
}

.form-label {
  font-size: var(--f3) !important;
  font-weight: 800 !important;
  color: var(--c4) !important;
}

.form-control {
  border-radius: 30px !important;
  border-color: var(--c2) !important;
  font-size: var(--f3) !important;
  font-weight: 600 !important;
  color: var(--c3) !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

.accommodation-container {
  flex-grow: 1 !important;
  overflow-y: visible !important;
  overflow-x: hidden !important;
  padding: 25px 25px 0 25px !important;
  top: 0 !important;
}

.card-container {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  min-width: 350px !important;
  margin-bottom: 25px !important;
}

.invisible {
  visibility: hidden;
}

.card {
  border-radius: 30px !important;
  border-color: var(--c2) !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  background-color: var(--c1) !important;
  overflow: hidden !important;
  position: relative !important;
  width: 300px !important;
  height: 400px !important;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para oscurecer la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease;
  text-decoration: none;
  z-index: 999;
}

.accommodation-name {
  color: white; /* Color del texto */
  display: none; /* Inicialmente oculto */
}

.card:hover .card-overlay {
  opacity: 1; /* Mostrar al pasar el cursor */
}

.card:hover .card-overlay .accommodation-name {
  display: block; /* Mostrar nombre al pasar el cursor */
}

.card-img-container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card-img-top {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.booked-indicator {
  position: absolute;
  bottom: 10px;
  color: var(--c1) !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.booked-indicator p {
  margin: 0;
  padding: 1px 5px;
  font-size: var(--f4) !important;
  color: var(--c1) !important;
  font-weight: 800 !important;
  border-radius: 30px;
  width: fit-content;
  background-color: var(--c6) !important;
}

.heart-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--c1) !important;
  text-shadow: 0px 0px 4px var(--c4) !important;
  z-index: 1000;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.heart-button-selected {
  color: var(--c4) !important;
  text-shadow: 0px 0px 4px var(--c1) !important;
}

.card-body {
  padding: 15px !important;
  text-align: left;
  position: relative !important;
  height: 100px !important;
  color: var(--c3) !important;
}

.price {
  color: var(--c4) !important;
  font-weight: 800 !important;
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-star {
  color: var(--c4) !important;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;

}

.contenedor {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.235);
}
.contenedor header {
  font-size: 1.5rem;
  color: #9D4EDD; 
  font-weight: 500;
  text-align: center;
}
.contenedor .formulario {
  margin-top: 30px;
}
.formulario .entrada {
  width: 100%;
  margin-top: 20px;
}
.entrada label {
  color: #9D4EDD !important;
}
.formulario :where(.entrada input, .caja-select) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: rgb(107, 107, 107);
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.entrada input:focus {
  box-shadow: 0 2px rgb(0, 166, 255);
}


.formulario .columna {
  display: flex;
  column-gap: 15px;
}

.caja-select select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: rgb(107, 107, 107);
  font-size: 1rem;
}

.formulario button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #9D4EDD;
}

.formulario button:hover,.formulario button:focus {
  background: rgb(107, 107, 107);
}

.outlined-button {
  height: 55px;
  width: 100%;
  color: rgb(0, 166, 255);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: 1px solid rgb(0, 166, 255);
  cursor: pointer;
  transition: all 0.2s ease;
  background:  #fff;
 
}
.outlined-button:hover,.outlined-button:focus {
  background: rgb(107, 107, 107);
  color: white;
}

.contenedor-max-width {
  max-width: 960px;
  margin: 0 auto; 
  padding: 80px 0;
}

.return {
  align-items: center;
  display: inline-flex;
  color: rgb(0, 166, 255);
  text-decoration: none;
  padding: 20px 0;
}
