/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --c1: #EFEFEF;
  --c2: #BCBCBC;
  --c3: #343434;
  --c4: #1D1D1D;
  --c5: #9D4EDD;

  --f1: 2.5rem;
  --f2: 1.5rem;
  --f3: 1rem;
  --f4: 0.8rem;
  --f5: 0.6rem;

  --navbar-altura: 80px;
  --content-padding: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif !important;
}

body {
  background-color: var(--c1) !important;
  min-height: 100vh;
}

.page-container {
  display: grid;
  grid-template-rows: var(--navbar-altura) 1fr;
  height: 100vh;
}

.page-content {
  padding: var(--content-padding) !important;
  background-color: var(--c1) !important;
}

.btn-primary {
  background-color: var(--c5) !important;
  border-color: var(--c5) !important;
  border-radius: 30px !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  font-size: var(--f3) !important;
}

.container-fluid {
  padding: 0 !important;
}

.navbar {
  background-color: var(--c1) !important;
  border-bottom: 1px solid var(--c2) !important;
  height: var(--navbar-altura) !important;
  padding: 0px 100px !important;
}

.navbar-logo {
  font-family: 'Pacifico', cursive !important;
  font-size: var(--f1) !important;
  color: var(--c5) !important;
  font-weight: 600 !important;
  margin-right: 50px !important;
  text-decoration: none !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.navbar-brand {
  color: var(--c5) !important;
  font-size: var(--f2) !important;
  font-weight: 800 !important;
  padding-right: 100px !important;
}

.nav-link {
  color: var(--c4) !important;
  font-size: var(--f3) !important;
  font-weight: 600 !important;
  padding: 0 25px 0 0 !important;
  text-decoration: none !important;
}

.nav-link:hover {
  color: var(--c5) !important;
}

.navbar-collapse {
  justify-content: flex-start !important;
}

.filter {
  background-color: var(--c1) !important;
  border-left: 1px solid var(--c2) !important;
  padding: 0 0 0 50px !important;
  height: calc(100vh - var(--navbar-altura) - var(--content-padding)*2) !important;
}

.form-label {
  font-size: var(--f3) !important;
  font-weight: 800 !important;
  color: var(--c4) !important;
}

.form-control {
  border-radius: 30px !important;
  border-color: var(--c2) !important;
  font-size: var(--f3) !important;
  font-weight: 600 !important;
  color: var(--c3) !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  background-color: var(--c1) !important;
}

.card {
  border-radius: 30px !important;
  border-color: var(--c2) !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  background-color: var(--c1) !important;
  overflow: hidden !important;
  position: relative !important;
  width: 300px !important;
}

.card-image {
  position: relative !important;
}

.card-image img {
  width: 100%;
  height: 100%;
  display: block;
}

.heart-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.card-content {
  padding: 16px;
  text-align: left;
  position: relative !important;
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
}

.contenedor {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.235);
}
.contenedor header {
  font-size: 1.5rem;
  color: rgb(0, 166, 255);
  font-weight: 500;
  text-align: center;
}
.contenedor .formulario {
  margin-top: 30px;
}
.formulario .entrada {
  width: 100%;
  margin-top: 20px;
}
.entrada label {
  color: rgb(0, 166, 255);
}
.formulario :where(.entrada input, .caja-select) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: rgb(107, 107, 107);
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.entrada input:focus {
  box-shadow: 0 2px rgb(0, 166, 255);
}


.formulario .columna {
  display: flex;
  column-gap: 15px;
}

.caja-select select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: rgb(107, 107, 107);
  font-size: 1rem;
}

.formulario button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #9D4EDD;
}

.formulario button:hover {
  background: rgb(107, 107, 107);
}

.outlined-button {
  height: 55px;
  width: 100%;
  color: rgb(0, 166, 255);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: 1px solid rgb(0, 166, 255);
  cursor: pointer;
  transition: all 0.2s ease;
  background:  #fff;
 
}