<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}HouseRent{% endblock %}</title>

  <!-- Estilos CSS base -->
  <link rel="icon" type="image/png" href="/static/imagenes/favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/css/var.css">
  <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/static/css/form.css">
  <link rel="stylesheet" type="text/css" href="/static/css/details.css">
  <link rel="stylesheet" type="text/css" href="/static/css/book_search.css">
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  

  <!-- Agrega la referencia a Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <!-- Agrega la referencia a jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- Agrega la referencia a Bootstrap JS (Popper.js incluido) -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

  <!-- Otros estilos o scripts necesarios para tu proyecto -->

  
  {% block extrahead %}{% endblock %}

</head>

<body> 
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-logo" href="/">H</a>
        <a class="navbar-brand" href="/">HouseRent</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link text-center" href="/">Catálogo</a>
                </li>
                {% if request.user.is_authenticated and propietario%}
                    <li class="nav-item">
                    <a class="nav-link text-center" href="/booking/owner">Gestión</a>
                    </li>
                    {%endif%}
                {% if user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link text-center" href="{{ request.scheme }}://{{request.get_host}}/booking/history">Reservas</a>
                </li>
                {% endif %}
                 {% if user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link text-center" href="/favoritos">Favoritos</a>
                </li>
                {% endif %}
                </li>
                {% if user.groups.all.0.name == 'Administradores' %}
                <li class="nav-item">
                  <a class="nav-link text-center" href="/admin">Admin</a>
                </li>
                {% endif %}
                {% if user.groups.all.0.name == 'Propietarios' %}
                <li class="nav-item">
                  <a class="nav-link text-center" href="/accommodation/add">Alojamientos</a>
                </li>
                {% endif %}
                <li class="nav-item">
                <a class="nav-link text-center" href="/sobre-nosotros">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-center" href="/privatePolicy">Política</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-center" href="/ayuda">Ayuda</a>
                </li>
            </ul>
        </div>
        {% if user.is_authenticated %}
          {% if propietario and user.stripe_id == None %}
          <a class="btn btn-primary" href="/booking/createStripeAccount">Enlazar cuenta bancaria</a>
          {% else %}
          <h5>Cuenta bancaria enlazada</h5>
          {% endif %}
          <a class="btn btn-primary" href="/logout">Cerrar Sesión</a>
          <a class="account-btn" href="/profile">
            <span class="material-symbols-outlined account">
              account_circle
            </span>
            <span class="account-name">{{ user.username }}</span>
          </a>
        {% else %}
          <a class="btn btn-primary" href="/login">Iniciar Sesión</a>
        {% endif %}
  </nav>
  <!-- Contenido específico de cada página -->
  {% block content %}
  {% endblock %}

  <!-- Otros scripts necesarios para tu proyecto -->
  {% block extrabody %}{% endblock %}
</body>
</html>
