<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}HouseRent{% endblock %}</title>

  <!-- Estilos CSS base -->
  <link rel="icon" type="image/png" href="/static/imagenes/favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/css/var.css">
  <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/static/css/form.css">
  <link rel="stylesheet" type="text/css" href="/static/css/details.css">
  <link rel="stylesheet" type="text/css" href="/static/css/book_search.css">
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  

  <!-- Agrega la referencia a Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <!-- Agrega la referencia a jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- Agrega la referencia a Bootstrap JS (Popper.js incluido) -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

  <!-- Otros estilos o scripts necesarios para tu proyecto -->
  
  {% block extrahead %}{% endblock %}

  <style>
    .column {
      margin-left: 20px !important;
    }
  </style>

</head>

<body> 
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-logo" href="/">H</a>
        <a class="navbar-brand" href="/">HouseRent</a>
        
          
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="column">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-center" href="/">Escaparate</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link text-center" href="/catalogo">Catálogo</a>
                </li>
                  {% if user.is_authenticated and user.groups.all.0.name == 'Propietarios' %}
                  <li class="nav-item">
                    <a class="nav-link text-center" href="/booking/owner">Gestión</a>
                  </li>
                  {%endif%}
                {% if user.is_authenticated and user.groups.all.0.name != 'Propietarios' %}
                <li class="nav-item">
                <a class="nav-link text-center" href="{{ request.scheme }}://{{request.get_host}}/booking/history">Reservas</a>
                </li>
                {% endif %}
                {% if user.is_authenticated and user.groups.all.0.name != 'Propietarios' %}
                <li class="nav-item">
                <a class="nav-link text-center" href="/favoritos">Favoritos</a>
                </li>
                {% endif %}
                <li class="nav-item">
                <a class="nav-link text-center" href="/booking">Seguimiento</a>
                </li>
                </li>
                {% if user.groups.all.0.name == 'Propietarios'%}
                <li class="nav-item">
                  <a class="nav-link text-center" href="/accommodation/add">Alojamientos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-center" href="/claims/">Reclamaciones</a>
                </li>
                {% endif %}
                <li class="nav-item">
                <a class="nav-link text-center" href="/sobre-nosotros">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-center" href="/privatePolicy">Política</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-center" href="/ayuda">Ayuda</a>
                </li>
            </ul>
              <form action="/catalogo" method="get">
              <div class="form-group"> 
                <div id="name" class="form-label">
                <input type="text" id="name" name="name" class="form-control" placeholder="Buscar" value="{{ request.GET.name }}">
              </div>
            </div>
          </form>
        </div>
        </div>
        {% if user.is_authenticated %}
          
        <div class="column">
          
          <a class="account-btn" href="/profile">
            <span class="material-symbols-outlined account">
              account_circle
            </span>
            <span class="account-name">{{ user.username }}</span>
          </a>
          <a class="btn btn-primary" href="/logout">Cerrar Sesión</a>
        {% else %}
          <a class="btn btn-primary" href="/login">Iniciar Sesión</a>
        {% endif %}
        </div>
  </nav>
  <!-- Contenido específico de cada página -->



  {% block content %}
  {% endblock %}

  <!-- Otros scripts necesarios para tu proyecto -->
  {% block extrabody %}{% endblock %}


</body>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var inputBusqueda = document.getElementById('search');
      if (inputBusqueda) {
          inputBusqueda.addEventListener('keydown', function(event) {
              if (event.key === 'Enter') {
                  let valorBusqueda = inputBusqueda.value;
                  console.log('Búsqueda:', valorBusqueda);
                  let serverUrl = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port  ;
                
                  let navegationUrl = serverUrl + '/?name=' + valorBusqueda;
                  window.location.href = navegationUrl;
                  event.preventDefault();
              }
          });
      }
  });
</script>
</html>

