{% extends 'mailer/base_email.html' %}
{% block extrahead %}
{% load static %} 
<style>
    .appBar {
        background-color: white;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .header-img {
        width: 150px;
        height: 150px;
    }

    .title{
        text-align: center;
        margin: 0 auto;
    }

    .content {
        background-color: white;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }
    
    </style>
<div class="appBar">
    <div class="title">
        <img src="cid:attached_image" alt="Logo" class="header-img">  
        <h2>Bienvenido</h2>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="content">
    <p>{{body}}</p>
</div>
{% endblock %}