{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="">
            <div class="card">
                <div class="card-body m-4">
                    <h2 class="card-title mb-4">Cambiar Contraseña</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.new_password1.errors }}
                            <label for="{{ form.new_password1.id_for_label }}">Nueva Contraseña:</label>
                            <input type="password" class="form-control mb-4" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" placeholder="Nueva Contraseña">
                        </div>
                        <div class="form-group">
                            {{ form.new_password2.errors }}
                            <label for="{{ form.new_password2.id_for_label }}">Confirmar Nueva Contraseña:</label>
                            <input type="password" class="form-control mb-4" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" placeholder="Confirmar Nueva Contraseña">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
