{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a class="return" href="javascript:history.back()"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="sc-oZIhv lbZsgk"><polyline points="15 18 9 12 15 6"></polyline></svg>Volver atrás</a>
    <title>Sobre Nosotros - HouseRent</title>
  <style>
        body {
            margin: 0 20px;
            text-align: justify;
        }

        h1 {
            text-align: center;
            color: var(--c5); /* Código de color morado */
            font-weight: bold;
        }

        h2 {
            text-align: center;
            font-size: medium;
            font-weight: bold;
            color: var(--c5);
        }
    </style>
</head>
<body>

    <h1>Bienvenido a HouseRent</h1>
    <h2>Donde tu estancia es nuestra prioridad</h2>

    <p>¡Saludos! Somos un apasionado grupo de cinco estudiantes de la Universidad de Sevilla,
        unidos por la visión de crear una experiencia única en el mundo del alquiler de viviendas
        turísticas. HouseRent nace como parte integral de un emocionante proyecto académico que nos
        ha llevado a explorar y materializar esta idea propuesta por nuestro profesor.</p>

    <h3>Nuestra Misión</h3>

    <p>En HouseRent, nos esforzamos por ofrecer a nuestros clientes una plataforma intuitiva y
        confiable para el alquiler de viviendas turísticas. Entendemos la importancia de encontrar
        el alojamiento perfecto, un hogar lejos de casa, que se adapte a las necesidades y deseos de
        cada viajero. Nos enorgullece ser facilitadores de experiencias memorables y contribuir a que
        cada estancia sea inolvidable.</p>

    <h3>Lo Que Ofrecemos</h3>

    <p>HouseRent no es simplemente una plataforma de alquiler; es un espacio donde convergen la comodidad,
        la accesibilidad y la diversidad. Desde apartamentos acogedores hasta lujosas casas de vacaciones,
        nuestro catálogo abarca una amplia variedad de opciones para que encuentres el alojamiento perfecto
        durante el tiempo que desees.</p>

    <h3>Únete a Nosotros en esta Aventura</h3>

    <p>Ya sea que estés planificando tus próximas vacaciones o deseando ofrecer tu propiedad, HouseRent te
        invita a unirte a nosotros en esta emocionante aventura. Descubre la diferencia de elegir una
        plataforma que no solo ofrece alojamiento, sino que también se preocupa profundamente por cada
        experiencia de viaje.</p>

    <p>¡Bienvenido a HouseRent, donde convertimos cada estancia en un capítulo inolvidable de tu historia de viajes!</p>

</body>
{% endblock %}
